Body{
    color: green;
    font-family: Verdana, Arial, Geneva, Helvetica;
    background-color: burlywood;
    font-size: 12px;
    margin: 0;
}

h1, h2{
    text-decoration: underline;
    font-size: 150%;
    text-align: center;
}
h1{
    color: pink;
}
.paragraph {
    color: red;
    font-size: 10px;
    line-height: 1.5em;
    background-color: #e5e4d7;
    padding: 10px;
    Border-width: 10px 5px;
    border-style: solid;
    border-color: black;
    margin-right: 20px; 
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: url(Kuva3.png);
}
.mainimg{
    width: 20%;
    display: block;
    margin: 0 auto;
    background-color: silver;
    padding: 3px;
    border: 2px solid black;
}
#kappale4{
    color: black;
    padding: 10px;
    margin: 10px;
    background-color: beige;
}